body{
	background: #ededed;
}
.main{
	padding: 32px;
}
.form-wrapper{
	border:1px solid #ccc;
	padding:32px;
	background: #FFF;
	width:100%;
	min-height:180px;
}
#template-form{
	border:1px solid #ededed;
	padding: 32px;
	margin-top:32px;
}
.item-option{
	border:1px solid #ededed;
	padding:8px;
	margin-bottom:4px;
}
.form-item-wrapper{
	position: relative;
	margin-bottom: 12px;
}
.form-item-wrapper .delete-element{
	top:2px;
	left: -18px;
    color: #f16767;
    position: absolute;
}